corner
coveralls
emcee
h5py
hypothesis
immutabledict
matplotlib
multihist
nestle
numba
numericalunits
pandas
pytest
pytest-runner
scipy
seaborn~=0.12.2
tqdm
ultranest

# These two packages require metadata not shipped via pip+git
# git+https://github.com/jorana/wimprates
# git+https://github.com/jorana/verne
# git+https://github.com/JoranAngevaare/DarkELF
