corner
coveralls
emcee
hypothesis
immutabledict
matplotlib
multihist
nestle
numba
numericalunits
numpy
pandas
pytest
pytest-runner
scipy
seaborn~=0.11.2
tqdm


# These two packages require metadata not shipped via pip+git
# git+https://github.com/jorana/wimprates
# git+https://github.com/jorana/verne
