numpy
scipy
matplotlib
pandas
numba
nestle
emcee
corner
numericalunits
multihist
seaborn
coveralls
hypothesis
pytest
pytest-runner
tqdm
git+https://github.com/jorana/wimprates
git+https://github.com/jorana/verne
