corner==2.2.1
coveralls==3.3.1
emcee==3.1.4
gitpython==3.1.40
gvar==12.0
h5py==3.10.0
hypothesis==6.21.1
immutabledict==4.0.0
matplotlib==3.5.3
matplotlib-label-lines==0.7.0
multihist==0.6.5
nestle==0.2.0
nbmake==1.4.6 
numba==0.58.1
numericalunits==1.25
numpy==1.24.4
pandas==1.5.3
psutil==5.9.6
pytest==7.4.3
pytest-runner==6.0.0
pytest-xdist==3.5.0
PyYAML==6.0.1
scipy==1.10.1; python_version=="3.8"
scipy==1.10.0; python_version>"3.8"
seaborn==0.11.2
tqdm==4.66.1
ultranest==3.6.4
vegas==5.5


git+https://github.com/jorana/wimprates
# These two packages require metadata not shipped via pip+git
# git+https://github.com/JoranAngevaare/DarkELF
# git+https://github.com/jorana/verne

