corner==2.2.1
coveralls==3.3.1
emcee==3.1.3
gitpython==3.1.28
gvar==11.10.1
h5py==3.6.0
hypothesis==6.21.1
immutabledict==2.2.1
matplotlib==3.5.3
matplotlib-label-lines==0.5.1
multihist==0.6.5
nestle==0.2.0
nbmake==1.3.4 
numba==0.56.2
numericalunits==1.25
numpy==1.23.3
pandas==1.5.0
psutil==5.9.2
pytest==7.1.3
pytest-runner==6.0.0
pytest-xdist==2.5.0
PyYAML==6.0
scipy==1.9.2; python_version=="3.8"
scipy==1.9.1; python_version>"3.8"
seaborn==0.11.2
tqdm==4.64.1
ultranest==3.5.5
vegas==5.1.1


git+https://github.com/jorana/wimprates
# These two packages require metadata not shipped via pip+git
# git+https://github.com/JoranAngevaare/DarkELF
# git+https://github.com/jorana/verne

