corner==2.2.1
coveralls==3.3.1
emcee==3.1.4
gitpython==3.1.37
gvar==11.11.12
h5py==3.9.0
hypothesis==6.21.1
immutabledict==3.0.0
matplotlib==3.5.3
matplotlib-label-lines==0.6.0
multihist==0.6.5
nestle==0.2.0
nbmake==1.4.3 
numba==0.58.0
numericalunits==1.25
numpy==1.24.4
pandas==1.5.3
psutil==5.9.5
pytest==7.4.3
pytest-runner==6.0.0
pytest-xdist==3.1.0
PyYAML==6.0.1
scipy==1.10.0; python_version=="3.8"
scipy==1.10.0; python_version>"3.8"
seaborn==0.11.2
tqdm==4.65.0
ultranest==3.6.2
vegas==5.4.2


git+https://github.com/jorana/wimprates
# These two packages require metadata not shipped via pip+git
# git+https://github.com/JoranAngevaare/DarkELF
# git+https://github.com/jorana/verne

